@import 'bootstrap';
@import 'bootstrap-icons';

body {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* #region jumbo  */

.jumbotron {
  background-image: url('./jumbo-bg.jpg');
  background-size: cover;
  height: 100vh;

  .mobile-phone {
    margin: auto;
    margin-top: 170px;
    padding: 10px 10px 30px;
    width: 320px;
    height: 620px;
    box-shadow: 0 0 20px #e2e2e2;
    border-radius: 30px;
    background-color: black;
    position: relative;
    overflow: hidden;

    ::-webkit-scrollbar {
      display: none;
    }

    .phone_img {
      min-width: 150%;
      height: auto;
    }

    .phone_title {
      bottom: 0;
      width: 100%;
      padding: 4rem 1rem;
      overflow: hidden;
      background-image: linear-gradient(transparent, rgb(0, 0, 0));
    }
  }

  .screen {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    border-radius: 30px;
    overflow-y: auto;

  }

  .brove {
    width: 150px;
    height: 20px;
    background: rgb(0, 0, 0);
    position: absolute;
    margin: 0 80px;
    border-radius: 0 0 20px 20px;
  }

  .speaker {
    width: 60px;
    height: 5px;
    background: #d2d2d2;
    display: block;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px;
  }


}

/* #endregion jumbo  */

/* #region feed  */

.feed_card_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* #endregion feed  */


/* #region posts  */
.card {
  display: flex;

  .card-body {
    width: 100%;
  }

  img {
    border-radius: 20px;
  }

  .card_titles {
    position: absolute;
    padding: 2rem 1.5rem;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(transparent, rgb(0, 0, 0));
  }
}